body{padding:50px;font:14px "Lucida Grande",Helvetica,Arial,sans-serif}a{color:#00B7FF}

  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  body {
    padding-top: 50px;
  }

  .resultName
  {
    color: #337ab7
  }

  .resultName:hover
  {
    text-decoration: underline;
  }



/*
* Media queries allow the page to display differently for varying screen sizes*/
  @media (max-width: 500px) {

    #map {
      /*float: right;*/
      height: 50%;
      width: 75%;
      margin-left: auto;
      margin-right: auto;
    }

    #info-display {
      /*float: left;*/
      /*width: 55%;*/
    }

    #results-tabs {
      /*width: 50%;*/
      clear:both;
    }

    .header-container {
      float: left;
      /*width: 50%;*/
    }
  }

  @media (min-width: 501px) and (max-width: 800px) {
    #map {
      /*float: right;*/
      height: 50%;
      width: 75%;
      margin-left: auto;
      margin-right: auto;
      /*display:none;*/
    }

    #info-display {
      /*float: left;*/
      /*width: 55%;*/
    }

    #results-tabs {
      /*width: 50%;*/
      clear:both;
    }

    .header-container {
      float: left;
      /*width: 50%;*/
    }
  }

  @media (min-width: 801px) {
    #map {
      float: right;
      height: 100%;
      width: 45%;
      /*margin-left: auto;*/
      /*margin-right: auto;*/
    }

    #info-display {
      float: left;
      width: 55%;

      /*height: 100%;*/
      /*overflow: scroll;*/
      /* I belive this position fixed line should be out, but may need to be tested on other platforms */
      /*position: fixed;*/
      top: 250px;
    }

    #search-results-display {
      overflow: scroll;
      height: 100%;
      position:fixed;
      width: 55%;
      /*float:left;*/
    }

    .header-container {
      float: left;
      width: 50%;
    }
  }

  /*li with .disabled class don't fire click events*/
  li.disabled {
    pointer-events: none;
  }

  #results-pagination {
    display: none;
  }

  /* info window style */
  .info-window-header {
    background-color: #00274c;
    color: white;

    font-size: 22px;
    font-weight: 400;
    padding: 5px;
    margin: 1px;
    border-radius: 2px 2px 0 0;
  }

  /* alter the element that wraps the info window */
  /* http://en.marnoto.com/2014/09/5-formas-de-personalizar-infowindow.html */
   .gm-style-iw {
     width: 350px !important;
     top: 15px !important; // move the infowindow 15px down
     left: 0 !important;
     background-color: #fff;
     box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
     border: 1px solid rgba(72, 181, 233, 0.6);
     border-radius: 7px;
  }
